/* здесь используйте глобальные переменные */
$font-family: "Open Sans", sans-serif;
$second-family: "Roboto", sans-serif;


$mobile-width: 320px;
$tablet-width: 728px;
$desktop-width: 1110px;
$mobile-width-only: 727px;

$text-color-primary: #444444;
$text-color-secondary: #000000;
$text-color-accent: #ffffff;
$text-color-special: #46c1ae;
$text-color-special-2: #63d1bb;

$bg-color-accent: #ffffff;
$bg-color-special: #63d1bb;
$bg-color-special-2: #59d5bc;
$bg-color-dark: #444444;

$border-color-base: #444444;

$link-border-color: #62d1ba;
$link-border-color-hover: #46c1ae;

$icon-bg-color: rgba(#000000, 0.2);
$icon-bg-color-hover: #63d1bb;
