.category-nav {
  display: none;

  flex-wrap: wrap;
  gap: 25px 60px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.category-nav__item {
  flex-shrink: 0;
}

.category-nav__link {
  font-weight: 700;
  line-height: 160%;
  color: $text-color-secondary;

  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    color: rgba($text-color-secondary, 0.6);
  }

  &:active {
    color: rgba($text-color-secondary, 0.3);
  }
}
