.checkout-form {
  display: flex;
  flex-direction: column;
  row-gap: 17px;

  padding-top: 29px;

  @media (min-width: $tablet-width) {
    row-gap: 0;

    padding-top: 60px;
  }
}

.checkout-form__fieldset {
  @media (min-width: $tablet-width) {
    &:nth-child(even) {
      position: relative;

      &::before {
        content: "";

        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;

        width: 100vw;
        height: 100%;

        background-color: #f1f1f1;
        box-shadow: 100vw 0 #f1f1f1;
      }
    }
  }
}

.checkout-form__fieldset-type {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.checkout-form__fieldset-color {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.checkout-form__fieldset-fullname {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.checkout-form__fieldset-contacts {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.checkout-form__fieldset-type,
.checkout-form__fieldset-color,
.checkout-form__fieldset-fullname,
.checkout-form__fieldset-contacts,
.checkout-form__fieldset-comment {
  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.checkout-form__buttons-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "note"
    "button";
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 230px auto;
    grid-template-areas: "button note";
    column-gap: 80px;
  }
}

.checkout-form__required-note {
  grid-area: note;

  margin: 0;

  font-size: 14px;
  line-height: 114%;

  @media (min-width: $tablet-width) {
    order: 0;

    font-size: 17px;
    line-height: 176%;
    text-align: right;
  }
}

.checkout-form__button {
  grid-area: button;
}
