.product-overview {
  display: grid;
  grid-template-columns: 34px 1fr 34px;
  grid-template-areas:
    ".     title ."
    "video video video"
    ".     desc  ."
    ".     btn   .";

  padding-top: 20px;
  padding-bottom: 33px;

  outline: 1px solid #ececec;
  outline-offset: -1px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 42px 1fr 42px;
    grid-template-areas:
      "video video video"
      ".     title ."
      ".     desc  ."
      ".     btn   .";
    padding-top: 0;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    grid-template:
      "video . . ." 47px
      "video . title ." auto
      "video . desc ." auto
      "video . btn ." auto
      "video . . ." 60px
      / 682px 80px 230px 57px;

    padding-top: 0;
    padding-bottom: 0;
  }
}

.product-overview__video-player {
  grid-area: video;

  z-index: 10;

  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.product-overview__image {
  display: block;
  width: 100%;
  height: auto;

  object-fit: contain;
}

.product-overview__title {
  grid-area: title;

  display: flex;
  column-gap: 25px;
  align-items: center;

  margin: 0;
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  color: $text-color-secondary;

  &::before {
    content: "";

    width: 32px;
    height: 22px;

    background-image: url("./../../icons/icon-cam.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    column-gap: 33px;

    margin-bottom: 24px;

    font-size: 20px;
    line-height: 120%;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    row-gap: 27px;
  }
}

.product-overview__description {
  grid-area: desc;

  margin: 0;
  margin-bottom: 40px;

  font-size: 13px;
  line-height: 185%;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 200%;
  }
}

.product-overview__button {
  grid-area: btn;

  @media (min-width: $desktop-width) {
    align-self: end;
  }
}
