.social {
  --icon-fill: #000000;
  --icon-opacity: 0.3;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px 41px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.socia__item {
  flex-shrink: 0;
}

.social__link {

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px;

  cursor: pointer;
  fill: var(--icon-fill);

  &:hover,
  &:focus-visible {
    --icon-fill: #46c1ae;
  }

  &:active {
    fill-opacity: var(--icon-opacity);
  }
}
