.toggle-button {
  width: 21px;
  height: 20px;

  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;

  background-image: url("./../../icons/icon-toggle.svg");
  background-repeat: no-repeat;
  background-size: 20px 14px;

  &--opened {
    background-image: url("./../../icons/icon-close.svg");
    background-size: 21px 20px;
  }
}
